:root {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --black: #000000;
  --dark: #1c2734;
  --white: #ffffff;
  --pumpkin-orange: #fd8301;
  --light-grey-blue: #a6b7d4;
  --dark-blue-grey: #1f344a;
  --blue: #0584fe;
  --light-navy: #1253a2;
}
